:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fdf8f8;
  margin: 0;
  padding: 0;
  --text: #f3f1ec;
  --background: #141520;
  --primary: #1f2937;
  --secondary: #141d2f;
  --accent: #ea6506;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(220, 14%, 9%);

  height: 100vh;
  display: flex;

  justify-content: center;

  align-items: center;
}

main {
  background-color: var(--secondary);
  border-radius: 25px;
  position: relative;
}

.star {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  border-radius: 99em;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

section {
  visibility: hidden;
}
#rating {
  max-width: 360px;
  visibility: visible;
  padding: 25px;
  width: 50vw;
  /*   height: 45vh; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}
#thankyou {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  position: absolute;

  /* top: 0;
  border-radius: 25px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center; */
}
#thankyou img {
  width: 150px;
  margin-block: 0.8rem;
}
.span {
  margin-block: 1rem;
  font-weight: 600;
  color: #ea6506;
  background-color: #243352;
  padding-inline: 0.8rem;
  border-radius: 20px;
}

#thankyou h1 {
  margin-block: 0.5rem;
}
#thankyou p {
  text-align: center;
  max-width: 300px;
  margin-bottom: 1rem;
  /* align-items: center; */
}

.items-wrapper {
  width: 100%;
  position: relative;
}

h1 {
  color: var(--text);
}
p {
  font-size: 14px;
  color: var(--text);
}

.items-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.items-wrapper div {
  cursor: pointer;
  background: var(--primary);
  color: white;

  border-radius: 99em;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-wrapper div:hover {
  background-color: hsl(180, 4%, 36%);
}

.items-wrapper .selected {
  background-color: #ea6506;
}
.items-wrapper .selected:hover {
  background-color: #ea6506;
}

button {
  background-color: var(--accent);
  color: var(--secondary);
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: white;
  height: 33px;
  width: 95%;
  border-radius: 15px;
  border: none;
}

button:hover {
  color: #d25a04;
  background-color: #fff;
}

.modal {
  height: 0;
  padding: 0;
}

.modal h1 {
  position: relative;
  font-size: 0.5rem;
  top: -10rem;
  border: greenyellow 2px solid;
  border-radius: 15px;
  background: #3bac41;
  padding: 5px;
  opacity: 0;
  transition: 0.8s ease-in;
  transform: translateY(100%);
}

.show h1 {
  opacity: 1;
  transform: translateY(0);
}
