:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fdf8f8;
  margin: 0;
  padding: 0;
  --text: #f3f1ec;
  --background: #141518;
  --primary: #1f2937;
  --secondary: #111827;
  --accent: #ea6506;
  color: #3bac41bd;
}
